:root {
  --heightScroll: 0vw; }

body::before {
  content: '';
  display: block;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff0000;
  width: var(--heightScroll); }

body {
  background: linear-gradient(to right, #4CAF50, #8BC34A);
  text-align: justify; }

p {
  margin: auto;
  padding: 1rem; }
